--
-- PostgreSQL database dump
--

-- Dumped from database version 16.4 (Debian 16.4-1.pgdg110+2)
-- Dumped by pg_dump version 16.4 (Debian 16.4-1.pgdg110+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE ONLY public.dispatch_record DROP CONSTRAINT dispatch_record_resource_id_fkey;
ALTER TABLE ONLY public.dispatch_record DROP CONSTRAINT dispatch_record_incident_id_fkey;
DROP INDEX public.ix_sos_report_uuid;
DROP INDEX public.ix_sos_report_device_id;
DROP INDEX public.ix_sos_report_cluster_id;
DROP INDEX public.ix_resource_status;
DROP INDEX public.ix_resource_resource_id;
DROP INDEX public.ix_resource_district;
DROP INDEX public.ix_resource_category;
DROP INDEX public.ix_incident_incident_id;
DROP INDEX public.ix_incident_cluster_id;
DROP INDEX public.ix_dispatch_record_resource_id;
DROP INDEX public.ix_dispatch_record_incident_id;
DROP INDEX public.ix_dispatch_record_dispatch_id;
DROP INDEX public.ix_authority_email;
DROP INDEX public.idx_sos_report_location;
DROP INDEX public.idx_resource_location;
DROP INDEX public.idx_incident_location;
ALTER TABLE ONLY public.sos_report DROP CONSTRAINT sos_report_pkey;
ALTER TABLE ONLY public.resource DROP CONSTRAINT resource_pkey;
ALTER TABLE ONLY public.incident DROP CONSTRAINT incident_pkey;
ALTER TABLE ONLY public.dispatch_record DROP CONSTRAINT dispatch_record_pkey;
ALTER TABLE ONLY public.device DROP CONSTRAINT device_pkey;
ALTER TABLE ONLY public.authority DROP CONSTRAINT authority_pkey;
ALTER TABLE ONLY public.alembic_version DROP CONSTRAINT alembic_version_pkc;
DROP TABLE public.sos_report;
DROP TABLE public.resource;
DROP TABLE public.incident;
DROP TABLE public.dispatch_record;
DROP TABLE public.device;
DROP TABLE public.authority;
DROP TABLE public.alembic_version;
DROP EXTENSION postgis_topology;
DROP EXTENSION postgis_tiger_geocoder;
DROP EXTENSION postgis;
DROP EXTENSION fuzzystrmatch;
DROP SCHEMA topology;
DROP SCHEMA tiger_data;
DROP SCHEMA tiger;
--
-- Name: tiger; Type: SCHEMA; Schema: -; Owner: sih
--

CREATE SCHEMA tiger;


ALTER SCHEMA tiger OWNER TO sih;

--
-- Name: tiger_data; Type: SCHEMA; Schema: -; Owner: sih
--

CREATE SCHEMA tiger_data;


ALTER SCHEMA tiger_data OWNER TO sih;

--
-- Name: topology; Type: SCHEMA; Schema: -; Owner: sih
--

CREATE SCHEMA topology;


ALTER SCHEMA topology OWNER TO sih;

--
-- Name: SCHEMA topology; Type: COMMENT; Schema: -; Owner: sih
--

COMMENT ON SCHEMA topology IS 'PostGIS Topology schema';


--
-- Name: fuzzystrmatch; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS fuzzystrmatch WITH SCHEMA public;


--
-- Name: EXTENSION fuzzystrmatch; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION fuzzystrmatch IS 'determine similarities and distance between strings';


--
-- Name: postgis; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis WITH SCHEMA public;


--
-- Name: EXTENSION postgis; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis IS 'PostGIS geometry and geography spatial types and functions';


--
-- Name: postgis_tiger_geocoder; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_tiger_geocoder WITH SCHEMA tiger;


--
-- Name: EXTENSION postgis_tiger_geocoder; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_tiger_geocoder IS 'PostGIS tiger geocoder and reverse geocoder';


--
-- Name: postgis_topology; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgis_topology WITH SCHEMA topology;


--
-- Name: EXTENSION postgis_topology; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgis_topology IS 'PostGIS topology spatial types and functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO sih;

--
-- Name: authority; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.authority (
    id character varying NOT NULL,
    email character varying NOT NULL,
    hashed_password character varying NOT NULL,
    name character varying NOT NULL,
    agency character varying NOT NULL,
    role character varying NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.authority OWNER TO sih;

--
-- Name: device; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.device (
    id character varying NOT NULL,
    device_model character varying NOT NULL,
    app_version character varying NOT NULL,
    created_at timestamp with time zone NOT NULL,
    last_seen_at timestamp with time zone
);


ALTER TABLE public.device OWNER TO sih;

--
-- Name: dispatch_record; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.dispatch_record (
    dispatch_id character varying NOT NULL,
    incident_id character varying NOT NULL,
    resource_id character varying NOT NULL,
    quantity_dispatched integer NOT NULL,
    dispatched_by character varying NOT NULL,
    dispatched_at timestamp with time zone NOT NULL,
    eta_minutes integer,
    status character varying NOT NULL
);


ALTER TABLE public.dispatch_record OWNER TO sih;

--
-- Name: incident; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.incident (
    incident_id character varying NOT NULL,
    cluster_id character varying NOT NULL,
    source_sos_uuids jsonb NOT NULL,
    location public.geometry(Point,4326) NOT NULL,
    area_name character varying,
    emergency_types jsonb NOT NULL,
    severity character varying NOT NULL,
    ai_summary character varying,
    report_count integer NOT NULL,
    estimated_people_affected integer,
    flags jsonb NOT NULL,
    first_reported_at timestamp with time zone NOT NULL,
    last_updated_at timestamp with time zone NOT NULL,
    status character varying NOT NULL,
    recommended_resources jsonb,
    assigned_resources jsonb
);


ALTER TABLE public.incident OWNER TO sih;

--
-- Name: resource; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.resource (
    resource_id character varying NOT NULL,
    category character varying NOT NULL,
    sub_type character varying NOT NULL,
    custodian_agency character varying NOT NULL,
    quantity_total integer NOT NULL,
    quantity_available integer NOT NULL,
    status character varying NOT NULL,
    location public.geometry(Point,4326) NOT NULL,
    district character varying NOT NULL,
    contact character varying NOT NULL,
    last_updated_at timestamp with time zone NOT NULL,
    CONSTRAINT check_quantity_available_positive CHECK ((quantity_available >= 0))
);


ALTER TABLE public.resource OWNER TO sih;

--
-- Name: sos_report; Type: TABLE; Schema: public; Owner: sih
--

CREATE TABLE public.sos_report (
    uuid character varying NOT NULL,
    device_id character varying NOT NULL,
    created_at timestamp with time zone NOT NULL,
    location public.geometry(Point,4326) NOT NULL,
    accuracy_m double precision,
    is_quick_sos boolean NOT NULL,
    emergency_type character varying NOT NULL,
    severity_hint character varying,
    people_count integer,
    medical_snapshot jsonb,
    custom_message character varying,
    contact_number character varying,
    relay_hop_count integer NOT NULL,
    last_relayed_at timestamp with time zone NOT NULL,
    status character varying NOT NULL,
    received_at timestamp with time zone NOT NULL,
    cluster_id character varying,
    received_via_gateway_device_id character varying NOT NULL
);


ALTER TABLE public.sos_report OWNER TO sih;

--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: sih
--

COPY public.alembic_version (version_num) FROM stdin;
04fe9120f497
\.


--
-- Data for Name: authority; Type: TABLE DATA; Schema: public; Owner: sih
--

COPY public.authority (id, email, hashed_password, name, agency, role, created_at) FROM stdin;
02739c68-db08-4c36-a06d-ea6891c69472	demo@sih.gov.in	$2b$12$cSlBQgZvZksQUZJNljXq9eAFt19aIyblnthGEsl3EUvP.gHulxGgu	Arjun Mehta	District Disaster Management Authority, Jaipur	DDMA	2026-08-15 07:58:07.56984+00
\.


--
-- Data for Name: device; Type: TABLE DATA; Schema: public; Owner: sih
--

COPY public.device (id, device_model, app_version, created_at, last_seen_at) FROM stdin;
74b2f287-9013-4461-8683-1450e2084529	TestModel X	1.0.0	2026-08-15 07:58:36.865706+00	\N
gw-test-123	TestModel	1.0.0	2026-08-15 07:58:44.118255+00	\N
5c02f4f8-a70b-482e-b827-f6d301bf1d6e	Test Phone	1.0.0	2026-08-15 07:58:49.268159+00	\N
\.


--
-- Data for Name: dispatch_record; Type: TABLE DATA; Schema: public; Owner: sih
--

COPY public.dispatch_record (dispatch_id, incident_id, resource_id, quantity_dispatched, dispatched_by, dispatched_at, eta_minutes, status) FROM stdin;
\.


--
-- Data for Name: incident; Type: TABLE DATA; Schema: public; Owner: sih
--



--
-- Data for Name: resource; Type: TABLE DATA; Schema: public; Owner: sih
--

COPY public.resource (resource_id, category, sub_type, custodian_agency, quantity_total, quantity_available, status, location, district, contact, last_updated_at) FROM stdin;
\.


--
-- Data for Name: sos_report; Type: TABLE DATA; Schema: public; Owner: sih
--



--
-- Data for Name: spatial_ref_sys; Type: TABLE DATA; Schema: public; Owner: sih
--

COPY public.spatial_ref_sys (srid, auth_name, auth_srid, srtext, proj4text) FROM stdin;
\.


--
-- Data for Name: geocode_settings; Type: TABLE DATA; Schema: tiger; Owner: sih
--

COPY tiger.geocode_settings (name, setting, unit, category, short_desc) FROM stdin;
\.


--
-- Data for Name: pagc_gaz; Type: TABLE DATA; Schema: tiger; Owner: sih
--

COPY tiger.pagc_gaz (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_lex; Type: TABLE DATA; Schema: tiger; Owner: sih
--

COPY tiger.pagc_lex (id, seq, word, stdword, token, is_custom) FROM stdin;
\.


--
-- Data for Name: pagc_rules; Type: TABLE DATA; Schema: tiger; Owner: sih
--

COPY tiger.pagc_rules (id, rule, is_custom) FROM stdin;
\.


--
-- Data for Name: topology; Type: TABLE DATA; Schema: topology; Owner: sih
--

COPY topology.topology (id, name, srid, "precision", hasz) FROM stdin;
\.


--
-- Data for Name: layer; Type: TABLE DATA; Schema: topology; Owner: sih
--

COPY topology.layer (topology_id, layer_id, schema_name, table_name, feature_column, feature_type, level, child_id) FROM stdin;
\.


--
-- Name: topology_id_seq; Type: SEQUENCE SET; Schema: topology; Owner: sih
--

SELECT pg_catalog.setval('topology.topology_id_seq', 1, false);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: authority authority_pkey; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.authority
    ADD CONSTRAINT authority_pkey PRIMARY KEY (id);


--
-- Name: device device_pkey; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.device
    ADD CONSTRAINT device_pkey PRIMARY KEY (id);


--
-- Name: dispatch_record dispatch_record_pkey; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.dispatch_record
    ADD CONSTRAINT dispatch_record_pkey PRIMARY KEY (dispatch_id);


--
-- Name: incident incident_pkey; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.incident
    ADD CONSTRAINT incident_pkey PRIMARY KEY (incident_id);


--
-- Name: resource resource_pkey; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.resource
    ADD CONSTRAINT resource_pkey PRIMARY KEY (resource_id);


--
-- Name: sos_report sos_report_pkey; Type: CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.sos_report
    ADD CONSTRAINT sos_report_pkey PRIMARY KEY (uuid);


--
-- Name: idx_incident_location; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX idx_incident_location ON public.incident USING gist (location);


--
-- Name: idx_resource_location; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX idx_resource_location ON public.resource USING gist (location);


--
-- Name: idx_sos_report_location; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX idx_sos_report_location ON public.sos_report USING gist (location);


--
-- Name: ix_authority_email; Type: INDEX; Schema: public; Owner: sih
--

CREATE UNIQUE INDEX ix_authority_email ON public.authority USING btree (email);


--
-- Name: ix_dispatch_record_dispatch_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_dispatch_record_dispatch_id ON public.dispatch_record USING btree (dispatch_id);


--
-- Name: ix_dispatch_record_incident_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_dispatch_record_incident_id ON public.dispatch_record USING btree (incident_id);


--
-- Name: ix_dispatch_record_resource_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_dispatch_record_resource_id ON public.dispatch_record USING btree (resource_id);


--
-- Name: ix_incident_cluster_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE UNIQUE INDEX ix_incident_cluster_id ON public.incident USING btree (cluster_id);


--
-- Name: ix_incident_incident_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_incident_incident_id ON public.incident USING btree (incident_id);


--
-- Name: ix_resource_category; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_resource_category ON public.resource USING btree (category);


--
-- Name: ix_resource_district; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_resource_district ON public.resource USING btree (district);


--
-- Name: ix_resource_resource_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_resource_resource_id ON public.resource USING btree (resource_id);


--
-- Name: ix_resource_status; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_resource_status ON public.resource USING btree (status);


--
-- Name: ix_sos_report_cluster_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_sos_report_cluster_id ON public.sos_report USING btree (cluster_id);


--
-- Name: ix_sos_report_device_id; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_sos_report_device_id ON public.sos_report USING btree (device_id);


--
-- Name: ix_sos_report_uuid; Type: INDEX; Schema: public; Owner: sih
--

CREATE INDEX ix_sos_report_uuid ON public.sos_report USING btree (uuid);


--
-- Name: dispatch_record dispatch_record_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.dispatch_record
    ADD CONSTRAINT dispatch_record_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incident(incident_id);


--
-- Name: dispatch_record dispatch_record_resource_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sih
--

ALTER TABLE ONLY public.dispatch_record
    ADD CONSTRAINT dispatch_record_resource_id_fkey FOREIGN KEY (resource_id) REFERENCES public.resource(resource_id);


--
-- PostgreSQL database dump complete
--

